<div id="<%= dom_id url %>">
  <p>
    <strong>Original url:</strong>
    <%= url.original_url %>
  </p>

  <p>
    <strong>Shortened url:</strong>
    <%= url.shortened_url %>
  </p>

  <p>
    <strong>Counter:</strong>
    <%= url.counter %>
  </p>

</div>
